# =========================
# STUDENT DATABASE - NEON
# =========================

STUDENT_DB_URL=jdbc:postgresql://YOUR_NEON_HOST/neondb?sslmode=require
STUDENT_DB_USERNAME=YOUR_USERNAME
STUDENT_DB_PASSWORD=YOUR_PASSWORD


# =========================
# COURSE DATABASE - MONGODB
# =========================

COURSE_MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER/
COURSE_MONGODB_DATABASE=college_course_db


# =========================
# ENROLLMENT DATABASE - LAYERBASE
# =========================

ENROLLMENT_DB_URL=jdbc:mariadb://YOUR_HOST:YOUR_PORT/YOUR_DATABASE?sslMode=REQUIRED
ENROLLMENT_DB_USERNAME=YOUR_USERNAME
ENROLLMENT_DB_PASSWORD=YOUR_PASSWORD


# =========================
# ATTENDANCE DATABASE
# =========================

ATTENDANCE_DB_URL=jdbc:postgresql://YOUR_HOST/YOUR_DATABASE?sslmode=require
ATTENDANCE_DB_USERNAME=YOUR_USERNAME
ATTENDANCE_DB_PASSWORD=YOUR_PASSWORD


# =========================
# EXAM DATABASE
# =========================

EXAM_DB_URL=jdbc:mariadb://YOUR_HOST:YOUR_PORT/YOUR_DATABASE?sslMode=REQUIRED
EXAM_DB_USERNAME=YOUR_USERNAME
EXAM_DB_PASSWORD=YOUR_PASSWORD


# =========================
# FACULTY DATABASE
# =========================

FACULTY_MONGODB_URI=mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@YOUR_CLUSTER/
FACULTY_MONGODB_DATABASE=college_faculty_db